.profile {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(241, 234, 238);
}

.description {
    width: 200px;
    padding: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: blueviolet;
    font-weight: 700;
    font-style: comfortaa;
}

.stats {
    width: 200px;
    padding: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: brown;
    font-weight: 600;
    font-size: 16px;
    font-family: comfortaa;
}
.name,
.tag,
.location{
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.name {
    font-weight: 900;
}

 

.avatar {
   
        background-color: rgb(245, 138, 179);
        border: 2px solid #c9c3c3;
        border-radius: 50%;
        margin-bottom: 20px;
        width: 200px;
      }
      .stats {
        background-color: rgb(233, 168, 241);
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-radius: 4px;
      }
      .stats li {
        display: inline-flex;
        flex-direction: column;        
        padding: 10px;
        background-color: rgb(238, 216, 238);
        border-radius: 2px;
      }
      .label {
        font-weight: 700;
        margin-bottom: 10px;
      }

